.DICTOR{
    display: flex;
    text-align: center;
}
.name{
    display: flex;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 50%;
}
.D{
    color: blue;
    font-size: 100px;
}
.I{
    color: red;
    font-size: 100px;
}
.C{color: orange;
font-size: 100px
}
.T{color: blue;
font-size: 100px
}
.O{color: green;
font-size: 100px
}
.R{color: red;
font-size: 100px
}
.nav{
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    padding: 30px;
    width: 100%;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    
}
li{
    list-style: none;
    text-decoration: none;

}
a{
    text-decoration: none;
    margin: 20px;
    color: blue;

}
.search{
    display: flex;
    flex: 100%;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    width: 90%;
    height: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
